APP_NAME=WHM
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://whm.fo2re.space

EVE_CORPORATION_ID=
EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_SCOPES=esi-characters.read_notifications.v1,esi-characters.read_loyalty.v1,esi-characters.read_contacts.v1,esi-characters.read_corporation_roles.v1,esi-characters.read_fatigue.v1,esi-characters.read_fw_stats.v1,esi-characters.read_medals.v1,esi-characters.read_notifications.v1,esi-characters.read_standings.v1,esi-characters.write_contacts.v1,esi-corporations.read_contacts.v1,esi-corporations.read_standings.v1,esi-corporations.read_corporation_membership.v1,esi-corporations.read_titles.v1,esi-corporations.track_members.v1,esi-skills.read_skills.v1,esi-corporations.read_structures.v1,esi-corporations.read_starbases.v1,esi-assets.read_corporation_assets.v1

DISCORD_SERVER_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=whm

SESSION_DRIVER=file
SESSION_LIFETIME=120

VITE_APP_NAME="${APP_NAME}"
